/* general.css*/
body {
  margin-top: 70px;
  font-family: "Barlow", sans-serif;
  height: 1500px;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
  padding: 15px 20px;
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1000;
  height: 35px;
}

.logo {
  color: rgb(0, 0, 0);
  margin: 0;
  font-size: 15px;
}

.nav-section {
  display: flex;
  gap: 60px;
}

.nav-item {
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item:hover {
  color: #3b82f6; 
  transform: translateY(-2px);
}

.nav-item.active {
  color: #3b82f6;
  font-weight: 600;
}

.username-container {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.username {
  color: black;
  cursor: pointer;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 100px 20px; /* more breathing room */
  background: linear-gradient(135deg, #32C1CC, #196066);
  color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.hero-title {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.closing-line {
  border: none;           /* remove default */
  height: 1px;            /* thickness */
  background: #c8c8c8;       /* line color */
  margin: 10px auto;      /* spacing around */
  width: 100%; 
}