body {
    background-image: url(../assets/login_bg.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: "Barlow", sans-serif;
}

/* Login box */
.background {
    background-color: #FFFFFF;
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}


/* Title */
.login-text {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
}

/* Inputs */
.input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.icon-user,
.icon-pw {
    display: flex;
    align-items: center;
}

.user-icon,
.lock-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.username-input,
.password-input {
    flex: 1;
    font-size: 16px;
    height: 40px;
    padding: 8px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button */
.login-btn-div {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.login-btn {
    background-color: #20C997;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 8px;
    border: none;
}

.login-btn:hover {
    background-color: #17a589;
    opacity: 0.9;
}

.login-btn:active {
    background-color: #138d75;
}

/* Signup link */
.create-acc {
    display: flex;
    justify-content: center;
}

.sign-up {
    font-size: 14px;
    text-align: center;
}

.sign-up a {
    color: #20C997;
    font-weight: 600;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}

/* Animations */
.slide-out-left { animation: slideOutLeft 0.5s ease-in-out forwards; }
.slide-in-right { animation: slideInRight 0.3s ease-in-out forwards; }
.slide-out-right { animation: slideOutRight 0.5s ease-in-out forwards; }
.slide-in-left { animation: slideInLeft 0.3s ease-in-out forwards; }

@keyframes slideOutLeft {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(-100%); opacity: 0; }
}
@keyframes slideInRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
@keyframes slideOutRight {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(100%); opacity: 0; }
}
@keyframes slideInLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}
